@model IEnumerable<RSVP>

@*<h1 class="display-4">RSVP Count: @Model</h1>*@


<div style="display: block">
    <a href="/RSVP/InsertRSVP/">Create a New RSVP</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Event ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    @foreach (var rSVP in @Model)
    {
        <tr>
            <td><a href=/RSVP/ViewRSVP/@rSVP.RSVPID>@rSVP.RSVPID</a></td>
            <td>@rSVP.EventID</td>
            <td>@rSVP.FirstName</td>
            <td>@rSVP.LastName</td>
        </tr>
    }

</table>

