@model RSVP

<h2>Update @Model.RSVPID</h2>

@using (Html.BeginForm("UpdateRSVPToDatabase", "RSVP", "Post"))
{
    <input asp-for="RSVPID" type="hidden" value="@Model.RSVPID" />

    <label asp-for="EventID" class="control-label">Event ID</label>
    <input type="number" name="EventID" class="form-control" value="@Model.EventID" />

    <label asp-for="FirstName" class="control-label">First Name</label>
    <input type="text" name="FirstName" class="form-control" value="@Model.FirstName" />

    <label asp-for="LastName" class="control-label">Last Name</label>
    <input type="text" name="LastName" class="form-control" value="@Model.LastName" />

    <input type="submit" value="Update RSVP" class="btn btn-primary" />
}

