@model IEnumerable<Event>

<h2>Events</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date and Time</th>
        <th>Location</th>
        <th>Description</th>
    </tr>

    @foreach (var item in @Model)
    {
        <tr>
            <td>@item.EventID</td>
            <td>@item.EventName</td>
            <td>@item.DateAndTime</td>
            <td>@item.Location</td>
            <td>@item.Description</td>
        </tr>
    }

</table>

