@model Event

<h2>@Model.EventName Information</h2>

<h3 class="display-4">RSVP Count: @Model</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date and Time</th>
        <th>Location</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>@Model.EventID</td>
        <td>@Model.EventName</td>
        <td>@Model.DateAndTime</td>
        <td>@Model.Location</td>
        <td>@Model.Description</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Event/UpdateEvent/@Model.EventID">Update this Event</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteEvent", "Event", "Post"))
    {
        <input type="hidden" asp-for="EventID" value="@Model.EventID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this Event" />
    }
</div>


