@*<TModel>WhateverPage </TModel>

<h2>@Model.EventName Information</h2>


<h3 class="display-4">RSVP Count: @Model</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date and Time</th>
        <th>Location</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>@Model.EventID</td>
        <td>@Model.EventName</td>
        <td>@Model.DateAndTime</td>
        <td>@Model.Location</td>
        <td>@Model.Description</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Event/UpdateEvent/@Model.EventID">Update this Event</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteEvent", "Event", "Post"))
    {@
        <input type="hidden" asp-for="EventID" value="@Model.EventID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this Event" />
    }
</div>

<h2>Users</h2>

<div style="display: block">
    <a href="/User/InsertUser/">Create a New User</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Event ID</th>
        <th>Event Name</th>
    </tr>

    @foreach (var user in @Model)
    {
        <tr>
            <td><a href=/User/ViewUser/@user.UserID>@user.UserID</a></td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.EmailAddress</td>
            <td>@user.PhoneNumber</td>
            <td>@user.EventID</td>
            <td>@user.EventName</td>
        </tr>
    }

</table>*@



